<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마비노기 주머니 시뮬레이터</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <p>
            다음 인게임 갱신 시간: 
            <span class="next-update"></span>
            <br>
            (인게임 갱신 10분 이후 사이트가 갱신됩니다.)
            <br>
            WF 쭈냠냠이님(X@Elatha_Marry_Me)의 주머니 틀을 사용했습니다. <a target="_blank" href="https://withglyph.com/jju.nyamnyam/768194311">https://withglyph.com/jju.nyamnyam/768194311</a> 
        </p>
        <select name="server" id="server">
            <option value="류트">류트</option>
            <option value="울프">울프</option>
            <option value="만돌린">만돌린</option>
            <option value="하프">하프</option>
        </select>
        <button id="prev-location"><</button>
        <select name="location" id="location">
            <option value="상인 네루" selected>티르 코네일</option>
            <option value="상인 누누">던바튼</option>
            <option value="상인 라누">반호르</option>
            <option value="상인 메루">이멘 마하</option>
            <option value="상인 베루">탈틴</option>
            <option value="상인 에루">타라</option>
            <option value="상인 아루">카브 항구</option>
            <option value="상인 피루">벨바스트</option>
            <option value="테일로">켈라</option>
            <option value="켄">필리아</option>
            <option value="리나">코르</option>
            <option value="카디">발레스</option>
            <option value="상인 세누">스카하</option>
            <option value="귀넥">카루 숲</option>
            <option value="얼리">오아시스</option>
            <option value="모락">칼리다</option>
            <option value="데위">자르딘</option>
        </select>
        <button id="next-location">></button>
        <input type="radio" name="color-code" id="hex-code">
        <label for="hex-code">hexCode</label>
        <input type="radio" name="color-code" id="dec-code">
        <label for="dec-code">decCode</label>

        <div class="search-container">
            <div class="search hex">
                <div class="search-box">
                    <div class="search-bar">
                        <div class="search-sample hex" style="background-color: #7F7F7F;">A</div>
                        #<input class="search-code hex" type="text" maxlength="6">
                    </div>
                    <div class="search-bar">
                        <div class="search-sample hex" style="background-color: #7F7F7F;">B</div>
                        #<input class="search-code hex" type="text" maxlength="6">
                    </div>
                    <div class="search-bar">
                        <div class="search-sample hex" style="background-color: #7F7F7F;">C</div>
                        #<input class="search-code hex" type="text" maxlength="6">
                    </div>
                    <div class="search-bar">
                        <div class="search-sample" style="background-color: #FFFFFF;">오차</div>
                        &nbsp;<input class="search-error hex" type="number" value="0">
                    </div>
                </div>
                <button class="search-button hex">
                    <i class="search-icon"></i>
                </button>
            </div>
            <div class="search dec">
                <div class="search-box">
                    <div class="search-bar">
                        <div class="search-sample dec" style="background-color: #7F7F7F;">A</div>
                        <div class="input-group">
                            <input class="search-code dec" type="number"><span>,&nbsp;</span>
                            <input class="search-code dec" type="number"><span>,&nbsp;</span>
                            <input class="search-code dec" type="number">
                        </div>
                    </div>
                    <div class="search-bar">
                        <div class="search-sample dec" style="background-color: #7F7F7F;">B</div>
                        <div class="input-group">
                            <input class="search-code dec" type="number"><span>,&nbsp;</span>
                            <input class="search-code dec" type="number"><span>,&nbsp;</span>
                            <input class="search-code dec" type="number">
                        </div>
                    </div>
                    <div class="search-bar">
                        <div class="search-sample dec" style="background-color: #7F7F7F;">C</div>
                        <div class="input-group">
                            <input class="search-code dec" type="number"><span>,&nbsp;</span>
                            <input class="search-code dec" type="number"><span>,&nbsp;</span>
                            <input class="search-code dec" type="number">
                        </div>
                    </div>
                    <div class="search-bar">
                        <div class="search-sample" style="background-color: #FFFFFF;">오차</div>
                        &nbsp;<input class="search-error dec" type="number" value="0">
                    </div>
                </div>
                <button class="search-button dec">
                    <i class="search-icon"></i>
                </button>
            </div>
            <div class="result-container" data-is-down="false"></div>
        </div>
    </header>
    <div class="main-container">
        <div class="table-container" data-is-down="false">
            <div class="sac-list">
                <div class="sac-name" data-searched="">달걀</div>
                <div class="sac-name" data-searched="">감자</div>
                <div class="sac-name" data-searched="">옥수수</div>
                <div class="sac-name" data-searched="">밀</div>
                <div class="sac-name" data-searched="">보리</div>
                <div class="sac-name" data-searched="">양털</div>
                <div class="sac-name" data-searched="">거미줄</div>
                <div class="sac-name" data-searched="">가는 실뭉치</div>
                <div class="sac-name" data-searched="">굵은 실뭉치</div>
                <div class="sac-name" data-searched="">저가형 가죽</div>
                <div class="sac-name" data-searched="">일반 가죽</div>
                <div class="sac-name" data-searched="">고급 가죽</div>
                <div class="sac-name" data-searched="">최고급 가죽</div>
                <div class="sac-name" data-searched="">저가형 옷감</div>
                <div class="sac-name" data-searched="">일반 옷감</div>
                <div class="sac-name" data-searched="">고급 옷감</div>
                <div class="sac-name" data-searched="">최고급 옷감</div>
                <div class="sac-name" data-searched="">저가형 실크</div>
                <div class="sac-name" data-searched="">일반 실크</div>
                <div class="sac-name" data-searched="">고급 실크</div>
                <div class="sac-name" data-searched="">최고급 실크</div>
                <div class="sac-name" data-searched="">꽃바구니</div>
            </div>
            <div class="sac-container loading"></div>
        </div>
        <div class="thumbnail-container">
            <div class="color-box">
                <div class="color-bar">
                    <div class="color-sample" style="background-color: #7F7F7F;">A</div>
                    <span class="color-code"></span>
                </div>
                <div class="color-bar">
                    <div class="color-sample" style="background-color: #7F7F7F;">B</div>
                    <span class="color-code"></span>
                </div>
                <div class="color-bar">
                    <div class="color-sample" style="background-color: #7F7F7F;">C</div>
                    <span class="color-code"></span>
                </div>
            </div>
            <div class="thumbnail-col">
                <div class="thumbnail-row">
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Egg_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 달걀 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Potato_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 감자 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Corn_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 옥수수 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Wheat_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 밀 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Barley_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 보리 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Wool_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 양털 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Cobweb_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 거미줄 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Thin_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 가는 실뭉치 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Thick_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 굵은 실뭉치 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Leather_1_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 저가형 가죽 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Leather_2_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 일반 가죽 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                </div>
                <div class="thumbnail-row">
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Leather_3_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 고급 가죽 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Leather_4_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 최고급 가죽 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Cloth_1_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 저가형 옷감 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Cloth_2_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 일반 옷감 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Cloth_3_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 고급 옷감 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Cloth_4_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 최고급 옷감 주머니</p>
                            <span class="thumbnail-channel"></span>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Silk_1_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 저가형 실크 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Silk_2_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 일반 실크 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Silk_3_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 고급 실크 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Silk_4_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 최고급 실크 주머니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                    <div class="thumbnail-sac">
                        <canvas class="sac-thumbnail" width="48" height="48" style="background-image: url('/static/layer/Flower_gray.png');"></canvas>
                        <div>
                            <p>튼튼한 꽃바구니</p>
                            <p class="thumbnail-channel"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="color-box thumbnail">
        <div class="color-bar thumbnail">
            <div class="color-sample thumbnail">A</div>
            <span class="color-code thumbnail"></span>
        </div>
        <div class="color-bar thumbnail">
            <div class="color-sample thumbnail">B</div>
            <span class="color-code thumbnail"></span>
        </div>
        <div class="color-bar thumbnail">
            <div class="color-sample thumbnail">C</div>
            <span class="color-code thumbnail"></span>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>